a{
     color: #0808f3 !important;
    cursor: pointer;
}
.popover{
    border-radius: 10px !important;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.carousel{
    border-bottom: 10px solid #1b7ce2;
}
.btn-font{
    font-family: 'Anton', sans-serif;   
    letter-spacing: 1.5px;
}
.btn:focus{
    box-shadow: none !important;
}
.btn-primary{
    width: auto;
    border-radius: 12px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1b7ce2 !important;
    border-color: #1b7ce2 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 0.5;
}
 .btn-signIn:hover, .btn-signIn:active, .btn-signIn:focus, .btn-signIn {
    width: 100%;
    border-radius: 12px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1b7ce2 !important;
    border-color: #1b7ce2 !important;
    font-weight: bold;
    font-size: 18px;
}
/* side menu popover arrow  */
.popover .arrow{
    display: contents !important;
    position: relative;
    background: white;
    color: #FFF;
    text-decoration: none;
}
.dropdown-toggle{
    font-weight: bold;
    font-size: 14px;
    border:none;
    color:#1b7ce2;
    background-color: white;
}
.popover{
    top:55px !important;
}

.popover .arrow::after, .popover .arrow::before{
    border-color: transparent !important;
    border-style: solid !important;
    content: '';
    display: block !important;
    position: absolute !important;
    left: 100px !important;
    bottom: 100% !important;
    width: 0 !important;
    height: 0 !important;
    border-bottom: 10px solid white !important;
    border-top: 10px solid transparent !important;
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
}
/* side menu popover arrow  */

/* modal alignment */
@media (min-width: 576px){
.modal-dialog {
    max-width: 500px;
    margin: 8.75rem auto !important;
}
}
/* modal alignment */

.alert-danger{
    font-family: 'Montserrat', sans-serif,FontAwesome !important;
    font-size: 12px !important;
}

.fa-spin{
    font-size: 28px;
    color: #1b7ce2;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1b7ce2 !important;
}
.mat-checkbox-inner-container {
    height: 15px !important;
    width: 15px !important;
}
.mat-checkbox-frame {
    border-width:1px;
}
.mat-checkbox{
    font-family: 'Montserrat',sans-serif !important;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle{    
    width: 100%!important;}
.input-group-prepend {
        margin-right: 0px !important;
        width: 151px !important;
    }
.searchbox{
    height: 44px !important;
}
.mat-form-field-flex {
    background-color: #eef0f7 !important;
    border-radius: 0px !important;
}
.mat-form-field-wrapper {
    padding-bottom: 0px !important;
    border: 1px solid #1b7ce2 !important;
}
.mat-form-field-infix {
    margin: 5px !important;
    width: 300px !important;
    border-radius: 4px !important;
    padding: 0px !important;
}
.mat-form-field-placeholder-wrapper {
    font-size: 15px !important;
}
.mat-form-field-placeholder {
    top: 7px !important;
}
.input.mat-input-element {
    margin-top: -1.0625em !important;
    padding-bottom: 6px !important;
}
.mat-input-underline, .mat-form-field-underline{
    display: none !important;
}
.mat-form-field, .mat-option{
    font-family: 'Montserrat', sans-serif !important;
    width: 400px !important;
}
.alert{
    padding: 17px 50px;
}
@font-face {
    font-family: 'impactreg';
    
    src: url('../fonts/impactreg.woff') format('woff'),
         
}
.check-circle, .fa-thumbs-up{
    color:green;;
   padding: 4px;
    font-size: 21px;
}
.times-circle, .fa-thumbs-down{
    color:#e01010;;
    font-size: 21px;
    padding: 4px;
}
.fa-pencil-square-o{
    cursor: pointer;
    color:blue;
}
.fa-trash{
    color:red;
    cursor: pointer;
}
.header-list{
    font-family: 'Impact';
    padding: 7px;
    padding-left: 15px;
}
.header-content{
    font-size: 24px;
}
.alert{
    padding: 10px;
}
.multiselect-dropdown .dropdown-btn{
    border: 1px solid #ced4da !important;
}
.home-header{
    background-color: #e7e8ea;
    border-bottom: 10px solid #1b7ce2;
}
.c-btn{
    border: 1px solid #ced4da !important;
  }
  .selected-list, .c-btn{
    box-shadow: none !important;
  }

.fa-spin{
    color:#1b7ce2;
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 10px;
    right: 6px;
    bottom: 7px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* Pagination */
  .pagination-input{
    width:50px;
    display: inline-block;
}
.pagination-center{
    text-align: center;
}
.pagination-arrow{
    font-size: 20px;
    color: #5d91f1;
    
    cursor: pointer;
}
count{
    font-size: 14px;
}
/* pointer */

.cursor-pointer{
    cursor: pointer;
}
