<div class="col-md-12">
    <div class="add-business">
        <div class="row">
                <div class="col-md-12">
                    <span class="rightside-content">Cannot find a business? </span>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-add-business" type="submit" (click)="addBusiness()">Add Business</button>
            </div>
        </div>
    </div>
    <div *ngIf="userId != 0" class="myfavorites">
        <h5 class="favorite-header" (click)="moveToFavorite()">My Favorites</h5>
        <div *ngIf="favoriteList?.length != 0" class="col-md-12 fav-list">
            <div *ngFor="let x of favoriteList" class="row bottom-border">
                <div class="bottom-border1">
                    <div class="fav-name" (click)="reviewBusiness(x.businessId,x.name)"><span><i class="fa fa-star"></i>{{x.name}}</span></div>
                </div>
                
            </div>
        </div>
        <div *ngIf="favoriteList?.length == 0" class="col-md-12 fav-list">No favorites yet...</div>
        <div class="row col-md-12">
            <button class="btn btn-primary btn-compare-business" type="submit" (click)="moveToFavorite()">Compare</button>
        </div>
    </div>
</div>