<div class="col-md-12">
    <popover-content #myPopover placement="auto" [animation]="true" [closeOnClickOutside]="true" >
      <div class="pop-content">
        <div class="form-group">
            
            <button type="submit"   data-toggle="modal"   data-target="#loginModal"  (click)="myPopover.hide()"   class="btn btn-primary btn-signIn">Sign In</button> <br>                                
          </div>
          <div class="signup">
            <span>Need an account? <a  data-toggle="modal" data-target="#loginModal"    (click)="myPopover.hide()" (click)="openSignUp()">Sign up</a></span> 
          </div>
        </div>
       
      </popover-content>
      <popover-content #myPopoverLogOut placement="auto" [animation]="true" [closeOnClickOutside]="true" >
          <div class="pop-content pop-content-flex">
            <div class="form-group" style="margin-bottom:0rem">
                <div class="signup profile-log" (click)="profileUpdate()">
                    <span class="profile-li" ><img src="{{profileImg}}" class="profile-img" /> Profile Update</span> 
                  </div>
                  <hr class="ruler">
                  <div *ngIf="roleId == 2 || roleId == 1" class="signup profile-log" (click)="myPopoverLogOut.hide()" (click)="admin()"><span    class="profile-li"><img src="assets/img/management.png" class="menu-icon" /> Admin</span></div>
                  <hr *ngIf="roleId == 2 || roleId == 1"  class="ruler">
                  <div  class="signup profile-log" (click)="myPopoverLogOut.hide()"(click)="inbox()"><span    class="profile-li"><img src="assets/img/email.png" class="menu-icon" /> Inbox</span></div>
                  <hr  class="ruler">
                  <!-- <div *ngIf="roleId  <= 2" class="signup profile-log" (click)="myPopoverLogOut.hide()" (click)="claimBusiness()"><span    class="profile-li"><img src="assets/img/claim.png" class="menu-icon" /> Business Claimed</span></div>
                  <hr *ngIf="roleId <= 2"  class="ruler"> -->
                  <div class="signup profile-log" (click)="myPopoverLogOut.hide()" (click)="favorite()"><span    class="profile-li"><img src="assets/img/stargreen.png" class="menu-icon" /> My Favorites</span></div>
                  <hr class="ruler">
                  <div class="signup profile-log" (click)="myPopoverLogOut.hide()" (click)="logOut()"><span    class="profile-li"><img src="assets/img/logout.png" class="menu-icon" /> Log Out</span></div>
                <!-- <button type="submit"   (click)="myPopoverLogOut.hide()" (click)="logOut()"  class="btn btn-primary btn-signIn">Log Out</button>                                  -->
              </div>
            </div>
           
          </popover-content>


  <div  *ngIf="!isUser" class="col-md-12 align-menu">
    <!-- <div class="col-md-12">
      <div class="user-name">
        <a style="cursor:pointer"   data-toggle="modal"   data-target="#loginModal"> <font class="sign-in">Sign in</font></a>
        | <a  data-toggle="modal" data-target="#loginModal" (click)="openSignUp()"><font class="sign-in">Sign up</font></a>
      </div>
    </div> -->
        <ul class="side-menu">
          <li style="cursor:pointer" [popover]="myPopover" id="login"><a class="nav-link" >
            <font class="sign-in">Sign in <span style="color:#676565;font-size: 15px;">or</span> Join  </font></a></li>
        </ul>
  </div>
  <div *ngIf="isUser"class="col-md-12 user-name">
      <div class="col-md-6"><a class="nav-link" [popover]="myPopoverLogOut" id="login">
          <font class="sign-in">{{userName}} </font></a></div>
    <div class="col-md-6"><a *ngIf="roleId  == 2 || roleId == 1" class="nav-link" (click)="claimBusiness()">
        <font class="sign-in"> Approvals </font></a></div>
   
      <!-- <ul class="side-menu">
          <li  *ngIf="roleId  <= 2" style="cursor:pointer" (click)="claimBusiness()"><a class="nav-link">
            <font class="sign-in"> Approvals </font></a></li>
            <li  style="cursor:pointer"><a class="nav-link" [popover]="myPopoverLogOut" id="login">
                <font class="sign-in">{{userName}} </font></a></li>
        </ul> -->
  </div>
        <div class="modal fade" id="loginModal" #openModal data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="margin: 0 auto;">Welcome to <span class="modal-logo">SkyRate</span></h4>
                  
                        <a href="#" data-dismiss="modal"  class="close close-modal" aria-hidden="true">×</a>
                
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs nav-header">
                        <li  class="list-space"><span id="login"  class="tab-header"(click)="openLogin()" [ngStyle]="getLogin()" >Login</span></li>
                        <li  class="list-space"><span id="signUp" class="tab-header" (click)="openSignUp()">Sign Up</span></li>
                    </ul>
                    <div class="loginTab">
                        <login (loginSuccess)="loginResult($event)"></login>
                    </div>
                    <div class="signUpTab" style="display:none;">
                    <register (registerSuccess)="registerResult($event)"></register>
                    </div>
                </div>
              </div>
              
            </div>
          </div>

          <div class="modal fade" id="loginResultModal" data-backdrop="static" data-keyboard="false" role="dialog">
              <div class="modal-dialog">
        
                <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-center" style="margin: 0 auto;">Login Failed ! </h4>
                 
                      <a href="#" data-dismiss="modal"  class="close close-modal" aria-hidden="true">×</a>
               
              </div>
              <div class="modal-body">
                  
              </div>
                </div>
                
              </div>
            </div>
      </div>