.nav-link{
    font-weight: bold;
    border-bottom: 2px solid #1b7ce2;
    padding-bottom: 2px;
}
.close-popover{
    text-align:right;
}
.btn-signIn{
    width: 100%;
    border-radius: 12px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1b7ce2;
    border-color: #1b7ce2;
    font-size: 18px;
    font-weight: bold;
}
.profile-log{
    padding: 10px;
   
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.profile-log:hover{
    background-color: #1b7ce2;
    color:white;
    border-radius: 10px;
}
.popover{
    border-radius: 10px !important;
    top:55px !important;
}
.nav-link {
    border-bottom: 2px solid transparent;
    color:white;
    font-weight: bold;
    padding-bottom: 0.125em;
    text-decoration: none;
    transition: border-bottom-color 50ms linear 0s;
    float:left;
    margin:0 5px;
}
/* .nav-link:hover, .nav-link:active, .nav-link:focus {
    border-bottom-color: #ff9800;
} */
.signup{
    font-family: 'Montserrat', sans-serif;
}
.sign-in{
    color:#1b7ce2 ;
    border-bottom: 2px solid #1b7ce2;
    font-weight: bold;
}
ul{
    list-style: none;
}
.pop-content{
    padding: 15px !important;
}
.close-modal{
    margin-left:0px;
}


 /*----- Content of Tabs -----*/
 .tab-content {
    margin-top: -9px;
    border-radius:3px;
   
    background:#fff;
    padding-top: 20px;
}
.table-body >.row{
    margin-bottom: 0px;
} 
.tablinks > li:active {
    background-color: white;
    color: black;
}*/
.panel.with-nav-tabs .panel-heading{
padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
color: black;
font-weight: 600;
}

/*.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
color: #777;
background-color: #ddd;
border-color: transparent;
}*/
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
background-color: #fff;
border-color: #ddd;
border-bottom-color: transparent;
font-weight: 600;
color: blue;
}
.nav-header{
    margin-bottom: 20px
}
.nav-tabs > li :hover{
    color:#1b7ce2
}
.nav-tabs > li.active{
    border-bottom: 2px solid #1b7ce2;
}
.nav-tabs > li >span:active{
    color:#1b7ce2;
   
}

.form-control{
height: 29px;
padding: 4px 6px;
font-size: 13px;
}
.panelheader {
padding-top: 0px; 
background-color: #fff;
border-bottom: none;

color: black;
}
.nav-header > li > a {
padding: 4px 15px;
}
.nav-row{
margin-bottom: 9px;
}
.tab-header{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.list-style{
    box-shadow: none;
}
.new-tab{
    color:#1b7ce2;
    border-bottom: 3px solid #1b7ce2;
}
.list-space{
    padding-right:30px;
}
.modal-header{
    border-bottom: 1px solid #ffffff !important;
    font-family: 'Montserrat', sans-serif;
}
.modal-logo{
    color: #1b7ce2;
}
.loginTab, .signUpTab{
    font-family: 'Montserrat', sans-serif;
}
.pop-content-flex{
    padding: 7px !important;
}
.ruler{
    margin-top: 4px;
    margin-bottom: 4px;
  
}
.menu-icon{
    width: 18px;
    
    margin-right: 4px;
}
.profile-img{
    width: 24px;
    height: 24px;
    background-color: #eae7e7;
    border-radius: 11px;
}
ul{
    display: -webkit-inline-box;
}
.align-menu{
    padding-top: 15px;
}
.user-name{
    padding: 13px;
    display: -webkit-box;
    color:blue;
    font-family: 'Montserrat', sans-serif;
}
.side-menu{
    font-family: 'Montserrat', sans-serif;
}
/* .popover{
    top: 54px !important;
    left: 69.6328px !important;
} */

/*  */
