.blur-input{
    background: #eef0f7;;
    border-radius: 0px;
    height: 44px !important;
    font-size: 15px;
}
.blur-country{
    background: #eef0f7;;
    height: 44px !important;
    font-size: 15px;
}
.country-field{
    margin-top: -2px;
    display: inherit;
}
.search-box{
    background-color: #1b7ce2 ;
    border: 1px solid #1b7ce2 ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color:white;
    font-size: 20px;
    cursor: pointer;
}
select option {
    margin: 0px;
    background: #d5dcd7;
    color: #676565;
    padding: 5px;
}
.border-search{
    border: 1px solid #1b7ce2;
}
small{
    font-size: 65%;
}
#searchBusiness{
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.inputSize{
    font-size: 15px;
}
.moreOptions{
    height: 35px !important;
}
.addNew{
    height: 43px !important;
}
.mat-option{
    height: 61px;
    line-height: 27px;
    border-bottom: 1px solid #e6e4e4;
}
.mat-input-underline, .mat-form-field-underline{
    display: none !important;
}
.mat-form-field, .mat-option{
    font-family: 'Montserrat', sans-serif !important;
    width: 400px !important;
}
.mat-form-field-flex, .mat-input-flex {
    background-color: #eef0f7 !important;
    border-radius: 0px !important;
}
.mat-form-field-wrapper, .mat-input-wrapper {
    padding-bottom: 0px !important;
}
.mat-form-field-infix, .mat-input-infix {
    margin: 6px !important;
    width: 300px !important;
    border-radius: 0px !important;
    padding: 0px !important;
}
.mat-form-field-placeholder {
    top: 7px !important;
}
input.mat-input-element {
    margin-top: -1.0625em !important;
    padding-bottom: 6px !important;
}

/* .mat-autocomplete-panel, .mat-autocomplete-visible{
    position: absolute !important;
    top: 406px !important;
    left: 472px !important;
    background-color: white !important;
} */


::placeholder {
    color: grey;
    opacity: 1; /* Firefox */
}

  
  
  /* to hide datalist arrow in webkit */
  
 
  .searchbox {
    border:1px solid #456879;
    border-radius:6px;
    height: 22px;
    width: 200p;
    margin-top: 5px;
}

/* border for country */
.border{
    width: 180px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -3px;
    border: 1px solid #1b7ce2 !important;
}